@model TamagotchiMVC.Models.AddTamagotchi
@{
    ViewBag.Title = "Create";
}

<h2 align="center">Nieuwe Tamagotchi</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <p align="center">
                        Naam van de Tamagotchi:
                    </p>
                    <p align="center">
                        @Html.TextBoxFor(model => model.Name)
                    </p>
                    <p align="center">
                        <input input type="submit" class="btn btn-success" value="Aanmaken" />
                        @Html.ValidationSummary()
                    </p>
                    <hr class="visible-xs">
                </div>
            </div>
        </div>
    </div>
}