@*@model TamagotchiMVC.TamagotchiServiceClient.t*@

@model IEnumerable<TamagotchiMVC.Models.TamagotchiItemViewModel>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-sm-12">
        <h2>Tamagotchis</h2>
        
        <table class="table">
            <tr>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Images/@Html.DisplayFor(modelItem => item.ImagePath)"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { ID = item.ID })
                    </td>
                    
                    @*<td>
                        <img src="@item.ItemUrl" />
                    <td>*@
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@

                        @*@Html.ActionLink("Details", "Details", new { ID = item.ID })*@
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    @*</td>*@
                </tr>
            }

        </table>

    </div>
</div>