<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITamagotchiService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4956/TamagotchiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITamagotchiService"
                contract="TamaService.ITamagotchiService" name="BasicHttpBinding_ITamagotchiService" />
        </client>
    </system.serviceModel>
</configuration>